//Fichier scss qui va importer tous les autres


// Attention à l'ordre des imports (ex : ne pas mettre un fichiers qui a besoins des variables avant l'import de celles-ci
@import './vendors/reset';
@import './utils/variables';
@import './utils/mixins';
@import './base/base.scss';


// Tess
$primary: hsl(43, 99%, 54%);
$on-primary:hsl(43, 99%, 10%);
$background: hsl(43, 99%, 5%);
$on-background: hsl(43, 99%, 95%);


#burgersSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.burgersSection-burgerCard {
    background-color: $background;
    color: $on-background;
    border-radius: 50px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-image {
        max-width: 70%;
        aspect-ratio: 3/2;
    };
    &-content-description{
        display: none;
    }
 }


// fin Tess

body{
    background-color: white;
    border-color: black;
    font-family:"Barlow";

}
header, main{
    width : 90%;
    margin : auto;
}

.sectionHeader{
    background-color: white;
    border-style: solid;
    border-color: black;
    padding-top : 39px;
    &__first{
        display : flex;
        justify-content: space-between;
        margin-bottom : 20px ;
        &__logo{
            height : 35px;
        }
        &__burger{
            border : none;
            background-color : transparent;
            .fa-solid{
                font-size : 30px;
            }
        }
    }

    &__headerText{
        &__h1{
            font-weight : bold;
        }
        &__h2{
            margin-top : 10px;
            color: #FEBC15;
        }
    }
    &__navBarre{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top : 15px;
        margin-bottom : 26px;
        &__wrapper{
            border: 2px solid #FEBC15;
            border-radius: 40px;
            padding: 10px;
            width : 100%;
            &__container{
                display: flex;
                align-items: center;
                i {
                    color : grey;
                    margin-left : 15px;
                }
                #search-bar {
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }
    } 
}

.pageFooter{
    position: fixed;
    width : 100%;
    bottom : 0;
    &__button{
        background-color: white;
        border : none;
        height : 70px;
        width : 70px;
        border-radius : 64px;
        position : absolute;
        right: 40%;
        top: -18px;
        margin : auto;
        i{
            font-size : 38px;
            color: #FEBC15;
        }
    }
    &__sectionFooter{
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height : 64px;
    border : 2px solid #FEBC15;
        &__main{
            width : 90%;
            margin : auto;
            display: flex;
            justify-content: space-between;
            &__first, &__second{
                display : flex;
                width: 40%;
                justify-content: space-around;
                margin-top : 19px;
                i{
                    font-size : 26px;
                    color: #FEBC15;
                }
            }
        }
    }
}
