/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#burgersSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.burgersSection-burgerCard {
  background-color: #191200;
  color: #fff8e6;
  border-radius: 50px;
  width: 45%;
  padding: 2%;
  margin-bottom: auto;
  margin-top: 0;
  align-items: center; }
  .burgersSection-burgerCard-image {
    max-width: 70%;
    aspect-ratio: 3/2; }
  .burgersSection-burgerCard-content {
    width: 100%;
    margin-block: 30px; }
  .burgersSection-burgerCard-content-description {
    display: none; }

body {
  background-color: white;
  border-color: black;
  font-family: "Barlow";
  width: 90%;
  margin: auto; }

.sectionHeader {
  background-color: white;
  border-style: solid;
  border-color: black;
  padding-top: 39px; }
  .sectionHeader__first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .sectionHeader__first__logo {
      height: 35px; }
    .sectionHeader__first__burger {
      border: none;
      background-color: transparent; }
      .sectionHeader__first__burger .fa-solid {
        font-size: 30px; }
  .sectionHeader__headerText__h1 {
    font-weight: bold; }
  .sectionHeader__headerText__h2 {
    margin-top: 10px;
    color: #FEBC15; }
  .sectionHeader__navBarre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 26px; }
    .sectionHeader__navBarre__wrapper {
      border: 2px solid #FEBC15;
      border-radius: 40px;
      padding: 10px;
      width: 100%; }
      .sectionHeader__navBarre__wrapper__container {
        display: flex;
        align-items: center; }
        .sectionHeader__navBarre__wrapper__container i {
          color: grey;
          margin-left: 15px; }
        .sectionHeader__navBarre__wrapper__container #search-bar {
          padding: 10px;
          border: none;
          outline: none;
          border-radius: 5px; }

.sectionFooter {
  background-color: black; }

/*# sourceMappingURL=main.css.map */
